src/main/mule/jenkinssanjay.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="9ecdf8fc-3976-4498-a0e6-f2de0ca20cd9" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="jenkinssanjayFlow" doc:id="af783914-e90e-4e20-aea6-729968727879" >
		<http:listener doc:name="Listener" doc:id="dd34265f-6096-4b87-996c-d89217d88e1a" path="/sanjay" config-ref="HTTP_Listener_config"/>
		<logger level="INFO" doc:name="Logger" doc:id="bea980bc-edcb-41bf-8570-fa5a7f3845de" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="e9e2bb69-70d2-4afa-9abe-8a4e090e07d3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
